<% for (const msg of success) { %>
    <% if(msg){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert" >
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
<% } %>
<% for (const error of errors) { %>
    <% if(error){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" >
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
<% } %>