<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="add-recipe-form">
        <form action="/:recipe-name" method="post">
            <label for="recipe-name"></label>
            <input type="text" id="recipe-name" name="recipe-name" placeholder="" required>
            <label for="recipe-author"></label>
            <input type="text" id="recipe-author" name="recipe-author" placeholder="" required>
            <button type="submit">Submit a recipe</button>
        </form>
    </div>
</body>
</html>