<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!--  Bootstrap CSS -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- Form to add custom recipes -->
    <div class="container">
        <section class="row my-5 add-recipe-form">
            <p class="h1"><%= msg !== 'undefined' ? msg : '' %></p>
            <form action="/recipes/custom-recipes" method="POST" enctype="multipart/form-data">
                <!-- top-level recipe info -->
                <section class="row mb-5">
                    <h2 class='display-2'>Recipe Essentials</h2>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="recipeName">Recipe name</label>
                            <input class="form-control" type="text" id="recipeName" name="recipeName" placeholder="" required>
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="author">Author</label>
                            <input class="form-control" type="text" id="author" name="author" placeholder="" required>
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="image">Image</label>
                            <input class="form-control" type="file" id="image" name="image" placeholder="" required>
                        </div>
                    </div>
                    <!-- prep cook total desc, servings -->
                    <div class="row mb-3 justify-content-center">
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" cols="30" rows="2" placeholder="Simple, 5-ingredient V + GF cookies that are healthy, easy, and delicious."></textarea>                            
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="prepTime">Prep Time</label>
                            <input class="form-control" type="text" id="prepTime" name="prepTime" placeholder="15 minutes">
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="cookTime">Cook Time</label>
                            <input class="form-control" type="text" id="cookTime" name="cookTime" placeholder="15 minutes">
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="totalTime">Total Time</label>
                            <input class="form-control" type="text" id="totalTime" name="totalTime" placeholder="30 minutes">
                        </div>
                        <div class="col-sm-3 m-3">
                            <label class="form-label" for="servings">Servings</label>
                            <input class="form-control" type="text" id="servings" name="servings" placeholder="20 cookies">
                        </div>
                        
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="m-3 col-sm-5">
                            <label class="form-label" for="cuisine">Cuisine</label>
                            <input class="form-control" type="text" id="cuisine" name="cuisine" placeholder="" >
                        </div>
                        <div class="m-3 col-sm-5">
                            <label class="form-label" for="recipeType">Recipe Type</label>
                            <input class="form-control" type="text" id="recipeType" name="recipeType" placeholder="" >
                        </div>
                        <div class="m-3 col-sm-5">
                            <label class="form-label" for="specialDiet">Special Diet</label>
                            <input class="form-control" type="text" id="specialDiet" name="specialDiet" placeholder="" >
                        </div>
                        <div class="m-3 col-sm-5">
                            <label class="form-label" for="allergens">Allergens</label>
                            <input class="form-control" type="text" id="allergens" name="allergens" placeholder="" required>
                        </div>
                    </div>
                </section>
                <!-- INGREDIENTS SECTION -->
                <section class="row mb-5">
                    <h2 class='display-2 mb-3'>Ingredients</h2>
                    <!-- <div class="row mb-2"> -->
                        <!-- Ingredient one -->
                        <fieldset class="row mb-2 justify-content-center">
                            <h5 class='h4'>Ingredient One</h5>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-1-quantity">Quantity</label>
                                <input class="form-control" type="text" name="ingredient-1-quantity" id="ingredient-1-quantity" placeholder="1/2 small">
                            </div>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-1-name">Name</label>
                                <input class="form-control" type="text" name="ingredient-1-name" id="ingredient-1-name" placeholder="onion">
                            </div>                            
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-1-optional">Optional?</label>
                                <select class="form-control" name="ingredient-1-optional" id="ingredient-1-optional">
                                    <option value="Yes">Yes</option>
                                    <option value="Yes">No</option>
                                </select>
                            </div>
                            <div class="col-sm-8 p-3">
                                <label class="form-label" for="ingredient-1-notes">Notes</label>
                                <textarea class="form-control" name="ingredient-1-notes" id="ingredient-1-notes" cols="30" rows="2" placeholder="Toss in oil until it slightly browns"></textarea>
                            </div>
                        </fieldset>
                        <!-- Ingredient one end -->
                        <!-- Ingredient TWO START -->
                        <fieldset class="row mb-2 justify-content-center">
                            <h5 class='h4'>Ingredient Two</h5>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-2-quantity">Quantity</label>
                                <input class="form-control" type="text" name="ingredient-2-quantity" id="ingredient-2-quantity" placeholder="1/2 small">
                            </div>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-2-name">Name</label>
                                <input class="form-control" type="text" name="ingredient-2-name" id="ingredient-2-name" placeholder="onion">
                            </div>                            
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-2-optional">Optional?</label>
                                <select class="form-control" name="ingredient-2-optional" id="ingredient-2-optional">
                                    <option value="Yes">Yes</option>
                                    <option value="Yes">No</option>
                                </select>
                            </div>
                            <div class="col-sm-8 p-3">
                                <label class="form-label" for="ingredient-2-notes">Notes</label>
                                <textarea class="form-control" name="ingredient-2-notes" id="ingredient-2-notes" cols="30" rows="2" placeholder="Toss in oil until it slightly browns"></textarea>
                            </div>
                        </fieldset>
                        <!-- Ingredient TWO end -->
                        <!-- Ingredient THREE START -->
                        <fieldset class="row mb-2 justify-content-center">
                            <h5 class='h4'>Ingredient Three</h5>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-3-quantity">Quantity</label>
                                <input class="form-control" type="text" name="ingredient-3-quantity" id="ingredient-3-quantity" placeholder="1/2 small">
                            </div>
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-3-name">Name</label>
                                <input class="form-control" type="text" name="ingredient-3-name" id="ingredient-3-name" placeholder="onion">
                            </div>                            
                            <div class="col-sm-4 p-3">
                                <label class="form-label" for="ingredient-3-optional">Optional?</label>
                                <select class="form-control" name="ingredient-3-optional" id="ingredient-3-optional">
                                    <option value="Yes">Yes</option>
                                    <option value="Yes">No</option>
                                </select>
                            </div>
                            <div class="col-sm-8 p-3">
                                <label class="form-label" for="ingredient-3-notes">Notes</label>
                                <textarea class="form-control" name="ingredient-3-notes" id="ingredient-3-notes" cols="30" rows="2" placeholder="Toss in oil until it slightly browns"></textarea>
                            </div>
                        </fieldset>
                        <!-- Ingredient THREE end -->
                        <div class="row">
                            <div class="col-6">
                                <button type='button' class='btn btn-primary'><i class="fa fa-plus-circle" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    <!-- </div> -->
                </section>
                <!-- INSTRUCTIONS SECTION -->
                <section class="row mb-5">
                    <h2 class='display-2'>Instructions</h2>
                    <!-- iNSTRUCTION ONE START -->
                    <div class="col-10 p-3">
                        <label class="form-label" for="instruction-1-text">1.</label>
                        <textarea class="form-control" name="instruction-1-text" id="instruction-1-text" cols="30" rows="2" placeholder="Chop mushrooms, peppers, and onions. Then toss into the pan over medium heat"></textarea>
                    </div>
                    <!-- iNSTRUCTION TWO START -->
                    <div class="col-10 p-3">
                        <label class="form-label" for="instruction-2-text">1.</label>
                        <textarea class="form-control" name="instruction-2-text" id="instruction-2-text" cols="30" rows="2" placeholder="Chop mushrooms, peppers, and onions."></textarea>
                    </div>
                    <!-- iNSTRUCTION THREE START -->
                    <div class="col-10 p-3">
                        <label class="form-label" for="instruction-3-text">1.</label>
                        <textarea class="form-control" name="instruction-3-text" id="instruction-3-text" cols="30" rows="2" placeholder="Chop mushrooms, peppers, and onions. Toss over medium heat..."></textarea>
                    </div>
                </section>
                <button type="submit">Submit a recipe</button>
            </form>
        </section>
        <!-- MY CUSTOM RECIPES SECTION -->
        <section class="row my-5">
            <section class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Recipe Name</h3>
                        <p class="card-text">This is your first delicious recipe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Recipe Name</h3>
                        <p class="card-text">This is your second delicious recipe</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Recipe Name</h3>
                        <p class="card-text">This is your third delicious recipe</p>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <%- include('../partials/footer') -%>
</body>
</html>